<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>to do list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1> <%= kindday %> </h1>
    </div>
    <div class="box">
        <% for(var i=0; i<=(nItem.length); i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= nItem[i] %></p>
            </div>
        <% } %>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item">
            <button type="submit" name="button">+</button>
        </form>
    </div>


</body>
</html> 